:root {
    --navy: #203162;
    --light-blue: #89c7fc;
    --yellow: #ffc610;
    --orange: #ff9839;
    --green: #00a289;
    --peach: #ffe3c9;
    --sky: #c3dbf1;
}

body {
    font: 15px Quicksand, sans-serif;
    background-color: var(--peach);
    padding-top: 15px;
    padding-bottom: 15px;
}

#headerbox {
    margin: auto;
    max-width: 80%;
    font: 15px Quicksand, sans-serif;
}

#header {
    font: 30px Quicksand, sans-serif;
    font-weight: bold;
    text-align: center;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    padding: 20px 25px 25px;
    box-shadow: 5px 5px 5px grey;
    border-radius: 15px;
    margin-bottom: 5%;
}

#bodybox {
    display: flex;
    gap: 5%;
    margin: auto;
    max-width: 100%;
    font: 15px Quicksand, sans-serif;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    padding: 20px 25px 25px;
    box-shadow: 5px 5px 5px grey;
    border-radius: 15px;
}

#chatborder {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 50%;
    border-width: 3px;
    margin: 20px;
    padding: 10px;
    border-radius: 15px;
    overflow-y: auto;
    max-height: 400px;
}

#AgentModel {
    flex: 1;
    height: auto;
    object-fit: contain;
}

.support {
    width: 100%;
    height: auto;
    object-fit: contain;
    bottom: 0;
}

#inputArea {
    margin-top: 10px;
    width: 100%;
}

#chatbox {
    font: 17px Quicksand, sans-serif;
    height: 22px;
    width: calc(100% - 20px);
    border-radius: .4em;
    padding: 5px 10px;
}

h1 {
    margin: auto;
}

pre {
    background-color: #f0f0f0;
    margin-left: 20px;
}

.user {
    background-color: var(--orange);
    align-self: flex-end;
    border-radius: 15px 15px 0 15px;
    padding: 10px;
    margin: 5px;
    max-width: 70%;
    word-wrap: break-word;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

.bot {
    background-color: var(--sky);
    align-self: flex-start;
    border-radius: 15px 15px 15px 0;
    padding: 10px;
    margin: 5px;
    max-width: 70%;
    word-wrap: break-word;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}